.banner {
    position: relative;
    width: 100%;
    height: 550px; 
    overflow: hidden;
    margin:40px 0px 40px 0px;
  }
  
  .banner-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .banner-item.active {
    opacity: 1;
  }
  
  .banner-item img,
  .banner-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .banner-nav:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .banner-nav.left {
    left: 10px;
  }
  
  .banner-nav.right {
    right: 10px;
  }
  
  .banner-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active,
  .dot:hover {
    background-color: white;
  }